.box
{
    height:300px;
    width:300px;
    float: left;
    background-color: aquamarine;
    border: 5px solid black;
    box-sizing: border-box;
    margin-top: 40px;
    margin-left: 10px;
}
@media(max-width:660px)
{
    .box{
        width: 33.33%;
    }
}
@media(min-width:661px)
{
    .box{
        width: 25%;
    }
}
@media(min-width:960px)
{
    .box{
        width: 50%;
    }
}
@media(min-width:1200px)
{
    .box{
        width:33.33%;
    }
}